/* Основной шрифт */
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprum.woff2") format("woff2"),
url("../fonts/cuprum.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprumbold.woff2") format("woff2"),
url("../fonts/cuprumbold.woff") format("woff");
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprumbolditalic.woff2") format("woff2"),
url("../fonts/cuprumbolditalic.woff") format("woff");
font-weight: bold;
font-style: italic;
}
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprumitalic.woff2") format("woff2"),
url("../fonts/cuprumitalic.woff") format("woff");
font-weight: normal;
font-style: italic;
}
/* Редко встречающийся шрифт */
@font-face{
font-family: "PT Sans";
src: 
url("../fonts/ptsans.woff2") format("woff2"),
url("../fonts/ptsans.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "PT Sans";
src: 
url("../fonts/ptsansbold.woff2") format("woff2"),
url("../fonts/ptsansbold.woff") format("woff");
font-weight: bold;
font-style: normal;
}
/* Глобальные настройки */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;    
  background-color: #ffffff;
  /* Для позиционирования */
  //background-image: url("../img/maket-catalog.png");
  //background-repeat: no-repeat;
  //background-position: top center;
}
.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.no-point {
 list-style: none;   
}
a {
  text-decoration: none;
}
/* Стандартный контейнер */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
/* Визуализация кнопок */
.button-white {
  display: block;
  font-size: 21px;
  line-height: 21px;
  padding: 10px 0;
  text-align: center;
  color: #000000;  
  background-color: #ffffff;
  border: none;
}
.button-white:hover,
.button-white:focus {
  color: #ee3643;
}
.button-white:active {
  color: #cacaca;
  //color: rgba(255,255,255,0.3);
}
.button-red {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;  
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;    
}
.button-red:hover {
  background-color: #ca2c37;
}
.button-red:active {
  background-color: #ba2732;
}
/* Начало описания заголовка */
.main-header {
  padding-bottom: 60px;
  background-color: #f3f7f9; 
}
.header-top {
  width: 100%;    
  background-color: #32425c;    
}
.header-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
/* Логотип в заголовке */
.header-top .logo,
.header-top .logo-active {
  background-color: #ee3643;
  text-align: center;
  box-shadow: 0 5px 0 0 #b52933;
}
.header-top img {
  padding: 10px 42px 2px 42px;
}
/* Логотип в подвале */
.main-footer .logo,
.main-footer .logo-active {
  align-self: flex-start;
  padding: 20px 42px 14px 42px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}
.main-footer .logo-active:hover,
.main-footer .logo-active:active,
.header-top .logo-active:hover,
.header-top .logo-active:active {
  background-color: #ca2c37;
}
/* Строка ввода для поиска */
.finder input {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  width: 250px;
  color: #ffffff;
  padding: 11px;
  padding-left: 40px;
  background-color: transparent;
  border: 1px solid transparent;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  opacity: 0.5;  
}
.finder input:focus {
  color: #000000;
  background-color: #ffffff;
  opacity: 1;
}
.finder input:hover {
  color: #ffffff;
  background-color: #212a3a;
  opacity: 1;
}
.finder input::-webkit-input-placeholder {
  color: #ffffff;
}
.finder:hover input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}
/* Обрабатываем закладки */
.bookmarks-link {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  margin-left: auto;
  padding: 12px 36px 12px 36px;
  text-align: center;
  background-color: transparent;
  opacity: 0.5;
}
.bookmarks-link:hover {
  background-color: #212a3a;
  opacity: 1;
}
.bookmarks-link:active {
  background-color: #161d29;
  opacity: 0.3;
}
.bookmarks-link::before {
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 13px;
  content: "";
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* Описание корзины */
.cart-link {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 40px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  opacity: 0.5;
}
.cart-link:hover {
  background-color: #212a3a;
  opacity: 1;
}
.cart-link:active {
  background-color: #161d29;
  opacity: 0.3;
}
.cart-link::before {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 14px;
  content: "";
  background-image: url("../img/icon-cart.svg");  
  background-repeat: no-repeat;
  background-position: 0 0;
  
}
/* Не пустая корзина */
.cart-full {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 40px;
  text-align: center;
  color: #ffffff;
  background-color: #f9424f;
  opacity: 0.8;
}
.cart-full:hover {
  opacity: 1;
}
.cart-full:active {
  opacity: 0.5;
}
.cart-full::before {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 14px;
  content: "";
  background-image: url("../img/icon-cart.svg");  
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* Оформление заказа */
.order-link {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding: 12px 21px;
  color: #ffffff;
  background-color: #5fbb2d;
  opacity: 0.8;
}
.order-link:hover {
  opacity: 1;
}
.order-link:active {
  opacity: 0.5;
}

/* Средняя часть заголовка */
.middle-header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 16px;
}
.header-about {
  display: block;
  width: 200px;
  font-size: 16px;
  line-height: 23px;
  margin-left: 53px;
  font-style: italic;
  color: #ee3643;
}
.contacts-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  margin-left: 48px;
}
.phone {
  position: relative;
  font-size: 21px;    
  line-height: 21px;   
  font-style: normal;
  font-weight: bold;
  padding: 9px 56px;
  text-align: center;
  color: #ee3643;
  border: 3px solid #ffffff;
}
.phone::before {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 26px;
  content: "";
  background-image: url("../img/icon-phone.svg");  
  background-repeat: no-repeat;
  background-position: 0 0;
}
.address {
  font-size: 14px;    
  color: #32425c;
}
/* Персональные данные */
.personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: auto;
  width: 300px;
  
}
.comein {
  position: relative;
  padding: 10px 37px;
  margin-left: 18px; 
}
.comein::before {
  position: absolute;
  width: 20px;
  height: 17px;
  top: 11px;
  left: 10px;
  content: "";
  background-image: url("../img/icon-login.svg");  
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.comein:hover.comein::before
{
  opacity: 1;
}
.comein:active.comein::before
{
  opacity: 0.3;
}
.registration {
  padding: 10px 24px;  
}
.personal-catalog {
  width: 300px;
  margin-left: auto;
}
.login-header {
  position: relative;
  padding: 12px 0;
  color: #000000;
  background-color: #ffffff;
}
.login-header:active,
.login-header:active::before,
.login-header:active::after {
  color: red;
  //opacity: 0.3;
}
.login-header::before {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 13px;
  left: 18px;
  content: "";
  background-image: url("../img/icon-user.svg");  
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.login-header::after {
  position: absolute;
  width: 21px;
  height: 17px;
  top: 15px;
  right: 18px;
  content: "";
  background-image: url("../img/icon-logout.svg");  
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.login-header:hover {
  color: #000000;
}
.login-header:hover::before,
.login-header:hover::after {
  opacity: 1;
}
.my-personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 242px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.my-order {
  color: #32425c;
  position: relative;
}
.my-order::after {
  position: absolute;
  width: 4px;
  height: 5px;
  top: 8px;
  left: 90px;
  content: "";
  border-radius: 50%;
  background-color: #32425c; 
}
.my-cabinet {
  color: #32425c;
}
.my-order:hover,
.my-cabinet:hover {
  text-decoration: underline;
  color: #ee3643;
}
.my-order:active,
.my-cabinet:active {
  text-decoration: underline;
  color: #cacaca;
}
/* Основное меню */
.main-navigation .container {
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 60px;
  align-items: center;
  background-color: transparent;
  border-bottom: 5px solid #293449;
}
.site-navigation li {
  background-color: #32425c;
  flex-grow: 1;
  text-align: center;
  height: 100%;
}
.site-navigation a {
  display: block;
  color: #ffffff;
  padding: 21px;
}
.site-navigation a:hover {
  background-color: #293449;
}
.site-navigation a:active {
  background-color: #293449;
  color: #a1a4a8;
}
/* Начало блока main */
.catalog-main {
  height: 90px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  padding-top: 30px;
  padding-left: 30px;
  background-color: #f3f7f9;
}
/* Хлебные крошки*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 358px;
  padding: 0;
  margin: 0;
  padding-top: 20px;
}
.breadcrumbs li  {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: #000000;
}
.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: #000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline; 
}
.breadcrumbs-current {
  opacity: 0.3;
}
.home {
  position: relative;
  padding-right: 15px;
}
.home::before{
  position: absolute;
  width: 15px;
  height: 12px;
  top: 2px;
  left: 0px;
  content: "";
  background-image: url("../img/icon-home.svg");  
  background-repeat: no-repeat;
  background-position: 0 0;
}
.breadcrumbs li::after { 
  position: absolute;
  width: 15px;
  height: 12px;
  right: -33px ;
  content: ">";
  font-size: 20px;
  opacity: 0.5
}
.breadcrumbs li:nth-child(4)::after { 
  display: none;
}
/* Настройки для фильтров */
.company,
.power {
  position: relative;
  border: 0 none;
  padding: 0;
}
.company legend,
.power legend {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.filters {
  width: 200px;
  min-height: 877px;
}
.filters .button-white {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 8px 39px;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}
.filter ul {
  padding-left: 34px;
  padding-bottom: 20px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 39px;
  text-transform: uppercase;
  opacity: 0.4;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
  opacity: 0.7;
}
.filter-input-checkbox:hover + label:before,
.filter-input-radio:hover + label:before,
.filter-input-checkbox:checked:hover + label:before,
.filter-input-radio:checked:hover + label:before {
  opacity: 0.7;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -35px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input-radio:checked + label::before{
  content: "";
  position: absolute;
  top: 8px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-input:disabled + label {
  color: #000000;
  opacity: 0.2;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.catalog {
  width: 700px;
  min-height: 1085;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.catalog-item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 317px;
  border: 1px solid #cacaca;
}
.catalog-item:nth-child(3n) {
  margin-right: 0;
}
/* Пометка NEW */
.new {
  position: absolute;
  width: 60px;
  height: 59px;
  right: 0;
  top: 0;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  margin-left: auto;
  overflow: hidden;
  z-index: 20;
}
.product-image {
  order: -1;
  width: 218px;
  height: 170px;
}
.product-image img {
  width: 100%;
  max-height: 100%;
  height: auto;
}
/* Названия товаров */
.name-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 11px;
  margin-bottom: auto;
}
.brend {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.product {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase; 
}
/* Старая цена */
.price-old {
  display: block;
  height: 18px;
  background-color: #ffffff;
  color: #999999;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 10px;
}
/* Новая цена */
.price {
  width: 141px;
  height: 38px;
  background-image: url("../img/red-button.svg");
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 20px;
}
/* Всплывающий раздел карточки */
.catalog-item-buy {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
/* Кнопки купить и в закладки*/
.button-buy,
.button-bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.button-bookmarks {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.catalog-item:hover .catalog-item-buy {
  display: block;
}
.button-buy:hover {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}
.button-bookmarks:hover {
  color: #32425c;
  border: 3px solid #32425c;
}
.button-bookmarks:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}
.group-company {
  display: flex;
  justify-content: space-between;
  min-height: 520px;
  padding: 48px 0 86px 0;
}
.main-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 540px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal; 
  color: #000000;
  background-color: transparent;  
}
.main-about h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;    
  line-height: 30px;  
  margin-bottom: 13px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  background-color: transparent;   
}
.transport-company {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;    
  line-height: 20px;
  margin-top: 0;
  padding-left: 37px;
  font-style: normal;
  color: #000000;
  background-color: transparent;   
}
.transport-company li {
  position: relative;
  line-height: 38px;
}
.transport-company li::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  top: 16px;
  left: -36px;
  background-color: #ee3643;
}
.main-about .button-red {
  align-self: flex-start;
  padding: 10px 25px;
  margin-top: auto;
}
.contacts-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  color: #000000;
  background-color: transparent;  
}
.contacts-main h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;    
  line-height: 30px; 
  margin-bottom: 13px;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  background-color: transparent;   
}
.contacts-img {
  width: 300px;
  height: 158px;
  margin-bottom: auto;
}
.contacts-img img {
  margin-top: 20px;
  width: 100%;
  max-height: 100%;
  height: auto;
}
.contacts-main .button-red {
  padding: 10px 0px;
  margin-top: auto;
}
/* Начало блока footer */
.main-footer {
  color: #ffffff;
  background-color: #32425c;
}
.main-footer a {
  color: #ffffff;
}
.main-footer .container {
  display: flex;
  font-size: 18px;
  padding: 0;
  justify-content: space-between;
}
.contacts-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 340px;
}
.footer-address {
  padding-top: 14px;
  padding-bottom: 31px
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.footer-menu1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 19px 0 0 20px; 
}
.footer-menu2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.footer-menu2 a {
  color: #ffd180; 
}
.footer-menu1 a,
.footer-menu2 a {
  text-decoration: none;
}
.footer-menu1 a:hover,
.footer-menu2 a:hover {
  text-decoration: underline;
}
.footer-menu1 a:active {
  text-decoration: none;
  color: #a4abb4;
}
.footer-menu2 a:active {
  text-decoration: none;
  color: #ad956f;
}
.footer-bottom {
  background-color: #293449;
}
.footer-bottom .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  
  font-size: 16px;    
  line-height: 18px;  
}
.copyright {
  width: 250px;

}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.footer-social a {
  display: block;
  position: relative;
  padding: 20px 20px;
  margin-right: 4px;
  background-color: #212a3a;
  border-radius: 50%;
  text-align: center;
}
.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}
.footer-social li:nth-child(1) a::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 15px;
  top: 12px;
  left: 7px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer-social li:nth-child(2) a::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 22px;
  top: 8px;
  left: 14px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.footer-social li:nth-child(3) a::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  top: 10px;
  left: 10px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.signature {
  padding-top: 17px;
  margin: 0;
}
.signature-value {
  padding-bottom: 34px;
  margin:0;
}
.signature-value a {
  text-decoration: none;
  color: #ffd180;
  background-color: transparent;
}
.signature-value a:hover {
  text-decoration: underline;
  color: #ffd180;
  background-color: transparent;
}
.signature-value a:active {
  text-decoration: none;
  color: #ee3643;
  background-color: transparent;
}
.connection,
.append-cart,
.large-map {
  display: none;
}
