/* Основной шрифт */
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprum.woff2") format("woff2"),
url("../fonts/cuprum.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprumbold.woff2") format("woff2"),
url("../fonts/cuprumbold.woff") format("woff");
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprumbolditalic.woff2") format("woff2"),
url("../fonts/cuprumbolditalic.woff") format("woff");
font-weight: bold;
font-style: italic;
}
@font-face{
font-family: "Cuprum";
src: 
url("../fonts/cuprumitalic.woff2") format("woff2"),
url("../fonts/cuprumitalic.woff") format("woff");
font-weight: normal;
font-style: italic;
}
/* Редко встречающийся шрифт */
@font-face{
font-family: "PT Sans";
src: 
url("../fonts/ptsans.woff2") format("woff2"),
url("../fonts/ptsans.woff") format("woff");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: "PT Sans";
src: 
url("../fonts/ptsansbold.woff2") format("woff2"),
url("../fonts/ptsansbold.woff") format("woff");
font-weight: bold;
font-style: normal;
}
/* Глобальные настройки */
body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: "normal";
  color: #000000;    
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}
.no-point {
  list-style: none;
}
/* Убираем подчеркивание ссылок */
a {
  text-decoration: none;
}
/* Визуализация кнопок */
.button-white {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;  
  vertical-align: middle;
  background-color: #ffffff;
  border: none;
}
.filters .button-white {
  border: 1px solid #e5e5e5;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  padding: 12px 40px
}
.button-white:hover,
.button-white:focus {
  color: #ee3643;
}
.button-white:active {
  color: #cacaca;
}
.button-red {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;  
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;    
}
.button-red:hover {
  background-color: #ca2c37;
}
.button-red:active {
  background-color: #ba2732;
}
.main-navigation,
.header-top {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}
.main-navigation a {
  color: #ffffff;
}
.site-navigation a:hover {
  background-color: #293449;
}
.header-top a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}
.header-top .logo {
  display: inline-block;
  width: 160px;
  height: 40px;    
  background-color: #ee3643;
}
.header-top .logo:hover,
.header-top .logo:active {
  background-color: #ca2c37;
}
/* Строка ввода для поиска */
.finder input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
}
.finder input:focus {
  color: #000000;
  background-color: #ffffff;
}
.finder:hover {
  color: #ffffff;
  background-color: #212a3a;
}
/* Обрабатываем закладки */
.bookmarks-link:hover {
  background-color: #212a3a;
}
.bookmarks-link:hover {
  background-color: #161d29;
}
/* Обрабатываем карзину */
.cart-link:hover {
  background-color: #212a3a;
}
.cart-link:active {
  background-color: #161d29;
}
/* Не пустая корзина */
.cart-full {
  background-color: #ee3643;
}
.cart-full:hover {
  background-color: #f9424f;
}
.cart-full:active {
  background-color: #b50b17;
}
/* Оформление заказа */
.order-link {
  background-color: #63a63e;
}
.order-link:hover {
  background-color: #5fbb2d;
}
.order-link:active {
  background-color: #518534;
}
.header-about {
  font-size: 16px;    
  line-height: 23px;   
  font-style: italic;
}
.phone {
  font-size: 21px;    
  line-height: 21px;   
  font-style: normal;
  color: #ee3643;
}
.address {
  font-size: 14px;    
  color: #32425c;
}
.login-header {
  color: #000000;
  background-color: #ffffff;
}
.login-header:active {
  color: #cacaca;
}
.my-order,
.my-cabinet {
  text-decoration: underline;
  color: #32425c;
}
.my-order:hover,
.my-cabinet:hover {
  text-decoration: underline;
  color: #ee3643;
}
.my-order:active,
.my-cabinet:active {
  text-decoration: underline;
  color: #cacaca;
}
.catalog-main {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
/* Хлебные крошки*/
.bread-crumbs a {
 font-family: "PT Sans", Arial, sans-serif;
 line-height: 18px;
 color: #000000;
 background-color: #ffffff;
}
/* Настройки для фильтров */
.company,
.power {
  border:0 none;
}
.company legend,
.power legend {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.company label,
.power label {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
}
/* Названия товаров */
.catalog-item span {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;  
}
/* Старая цена */
.price-old {
  background-color: #ffffff;
  color: #999999;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
/* Новая цена */
.button-price {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px; 
}
/* Кнопка купить */
.button-buy {
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
.button-buy:hover {
  background-color: #5fbb2d;
}
.button-buy:active {
  background-color: #518534;
}

/* Кнопка в закладки */
.button-bookmarks {
  background-color: #ffffff;
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  border: 3px solid #63a63e;
  text-transform: uppercase;
}
.button-bookmarks:hover {
  color: #32425c;
  border: 3px solid #32425c;
}
.button-bookmarks:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}
/* Пометка NEW */
.new {
  background-color: #ee3643;
  color: #ffffff;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px; 
}
.main-about,
.contacts {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  color: #000000;
  background-color: transparent;  
}
.main-about h2,
.contacts h2{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;    
  line-height: 30px;   
  font-style: normal;
  color: #000000;
  background-color: transparent;   
}
.main-about ul {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;    
  line-height: 20px;   
  font-style: normal;
  color: #000000;
  background-color: transparent;   
}
.large-map {       
  display: none;
}
.main-footer {
  font-size: 18px;
  color: #ffffff;
  background-color: #32425c;
}
.main-footer a {
  color: #ffffff;
}
.main-footer .logo {
  display: inline-block;
  width: 160px;
  height: 50px;
  background-color: #ee3643;
}
.footer-menu2 a {
  color: #ffd180; 
}
.footer-bottom {
 background-color: #293449;
  font-size: 16px;    
  line-height: 18px;  
}
.footer-social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #212a3a;
  border-radius: 50%;
  text-align: center;
}
.footer-social a:hover,
.footer-social a:active {
  background-color: #ee3643;
}
.footer-menu1 a,
.footer-menu2 a {
  text-decoration: none;
}
.footer-menu1 a:hover,
.footer-menu2 a:hover {
  text-decoration: underline;
}
.footer-menu1 a:active {
  text-decoration: none;
  color: #a4abb4;
}
.footer-menu2 a:active {
  text-decoration: none;
  color: #ad956f;
}
.signature-value a {
  text-decoration: none;
  color: #ffd180;
  background-color: transparent;
}
.signature-value a:hover {
  text-decoration: underline;
  color: #ffd180;
  background-color: transparent;
}
.signature-value a:active {
  text-decoration: none;
  color: #ee3643;
  background-color: transparent;
}
.connection {
  display: none;
}
.append-cart {
  display: none;
}
